<%= link_to 'All submissions', submissions_path %>
<h1><%= @submission.title %></h1>
<%= link_to(image_tag(@submission.art.thumb.url, alt: 'Image'), @submission.art.url, target: '_blank') if @submission.art? %>
<p><%= @submission.description %></p>
<% if @canEdit %>
  <p><%= link_to 'Edit', edit_submission_path(@submission) %></p>
<% end %>
<h2>Comments</h2>
<% if logged_in? %>
  <%= form_for([@submission, @comment]) do |f| %>
    <p>
      <%= f.label :content%><br/>
      <%= f.text_field :content%>
      <%= f.submit%>
    </p>
  <% end %>
<% end %>
<% @comments.each do |comment| %>
  <p><%=comment.user.username%></p>
  <p><%=comment.content%></p>
  <p><%=comment.created_at%></p>
  <hr/>
<% end %>